.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(154deg, rgba(83, 97, 239, .9), rgba(58, 231, 255, .9)), url('../images/Background-pattern.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 541px;
}

.grid {
  -ms-grid-columns: 1fr 0.6fr;
  grid-template-columns: 1fr 0.6fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.body {
  font-family: 'Droid Sans', sans-serif;
  color: #949494;
}

.paragraph {
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 28px;
}

.paragraph.hero-para {
  color: #fcfcfc;
}

.store-button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 42px;
  border-radius: 4px;
  background-color: #000;
  background-image: url('../images/Apple-logo.svg');
  background-position: 12px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 28px;
}

.store-button.google-play {
  background-image: url('../images/Google-play-store-logo.svg');
  background-size: 20px;
}

.brand {
  padding-top: 14px;
  padding-bottom: 14px;
}

.nav-link {
  color: #fff;
  font-size: 17px;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.heading {
  color: #fff;
}

.brands {
  justify-items: center;
  grid-row-gap: 28px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.brands-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.brands-section.contact {
  background-color: #eef0f1;
}

.smaller-heading {
  margin-bottom: 27px;
  color: #949494;
  font-size: 29px;
  font-weight: 400;
  text-align: center;
}

.smaller-heading.extra {
  margin-bottom: 10px;
  color: #429eca;
  font-size: 25px;
  font-weight: 400;
  text-align: left;
}

.brands-image {
  height: 55px;
  margin-bottom: 16px;
  -webkit-filter: contrast(0%);
  filter: contrast(0%);
}

.heading-2 {
  color: #949494;
}

.contact-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-field {
  margin-bottom: 0px;
  border-radius: 4px;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.submit-button {
  border-radius: 4px;
  background-image: linear-gradient(117deg, #5361ef, #3ae7ff);
}

.footer {
  background-color: #333;
}

.footer-grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-heading {
  margin-top: 5px;
  color: #e4e4e4;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.footer-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991px) {
  .nav-link {
    text-align: center;
  }
  .heading {
    font-size: 33px;
  }
  .brands-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .smaller-heading.extra {
    text-align: center;
  }
  .contact-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .wrapper {
    text-align: center;
  }
  .footer-grid {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .footer-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .menu-icon {
    color: #fff;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: #949494;
  }
  .nav-menu {
    background-color: #949494;
  }
}

@media (max-width: 767px) {
  .grid {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .image {
    max-width: 200px;
  }
  .heading {
    font-size: 32px;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .brands {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .brands-section {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .smaller-heading {
    font-size: 26px;
    line-height: 28px;
  }
  .brands-image {
    height: auto;
  }
  .container-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer-grid {
    justify-items: center;
  }
}

@media (max-width: 479px) {
  .grid {
    padding-top: 0px;
  }
  .store-button {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 8px;
  }
  .image {
    max-width: 120px;
  }
  .heading {
    margin-top: 0px;
    font-size: 32px;
    line-height: 39px;
  }
}

#w-node-421bdfa9ae9d-9c19d608 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-421bdfa9ae9d-9c19d608 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

#w-node-96b31b963ac8-9c19d608 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-96b31b963ac8-9c19d608 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-c796e669a1fd-9c19d608 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-8e87015ec4e3-9c19d608 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-3d77fb1819ea-9c19d608 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-8aab02fbfe9c-9c19d608 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-7738fd854ea8-9c19d608 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-0882fa296bb4-9c19d608 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-585f17a2dbdc-9c19d608 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-299f05cdcd84-9c19d608 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-8add4b8e826f-9c19d608 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#name.w-node-1e45407a9c9b-9c19d608 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #name.w-node-1e45407a9c9b-9c19d608 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-1e45407a9c9f-9c19d608 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-1e45407a9c9f-9c19d608 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

#email.w-node-1e45407a9c9e-9c19d608 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #email.w-node-1e45407a9c9e-9c19d608 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-56f7edb0fdb4-9c19d608 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-2d08e741499b-9c19d608 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-07dc093caada-9c19d608 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-07dc093caada-9c19d608 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-a45bc95a6cc9-9c19d608 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-85ae400e9f10-9c19d608 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-85ae400e9f10-9c19d608 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-85ae400e9f10-9c19d608 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}

#w-node-9d0b8a185016-9c19d608 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}